.splide__list {
  list-style-type: none;
  display: flex;
}
.splide__slide {
  padding: 1rem;
}
.cards-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  max-width: 350px;
}

.cards-title a {
  font-size: 10px;
  background-color: #9d73f7;
  color: #fff;
  padding: 6px 12px 6px 12px;
}

.slider-slide-image img {
  max-width: 350px;
}

.splide__arrow {
  display: none;
}

.splide__pagination {
  position: unset;
}
